@{
    ViewBag.Title = "Home Page";
}


<div id="containerjambo" class="jumbotron">
    <h1>Weather API demo -  Zheng NIU</h1>
    <p class="lead">Get weather by city name.</p>
    @Html.ActionLink("Start search", "Index", "Search", null, new { @class = "btn btn-primary btn-lg" })
</div>